<%- include("./partials/header") %>

    <script>
        $(document).ready(function () {
            var productosApartado = [];

            $("#agregaProducto").click(function () {
                let currentProduct = $($("#selectProducto option")[0]).data("producto");
                productosApartado.push(currentProduct);
                $($("#selectProducto option")[0]).remove();

                var total = 0;
                $($("table tbody")[0]).html("");
                for (let producto of productosApartado) {
                    let row = `<tr>
                                    <td>${producto.descripcion}</td>
                                    <td>${producto.costo}</td>
                                    <td>${producto.precio}</td>
                               </tr>`;

                    $($("table tbody")[0]).append(row);

                    total += parseFloat(producto.costo);
                    $("#total").val(total);
                }
            });

            $("#saveApartado").click(function () {
                fetch('http://127.0.0.1:3000/apartados/save/', {
                    method: 'POST',
                    mode: 'cors',
                    cache: 'no-cache',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    redirect: 'follow',
                    referrerPolicy: 'no-referrer',
                    body: JSON.stringify({
                        productos: productosApartado,
                        fecha: $("#fecha").val(),
                        fecha_limite: $("#fecha_limite").val(),
                        id_cliente: $("#id_cliente").val(),
                        monto_abonado: $("#monto_abonado").val(),
                        total: $("#total").val(),
                    })
                })
                    .then(response => {
                        location.href = "http://127.0.0.1:3000/apartados";
                    })
            });
        });
    </script>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-6">
                <h4>Agregar Apartado</h4>
            </div>
        </div>
    </div>

    <div class="container bg-gray">
        <div class="justify-content-center align-self-center">
            <form>
                <div class="row">
                    <div class="col-8">
                        <div class="form-group">
                            <label>Producto</label>
                            <select id="selectProducto" class="form-control" placeholder="Producto...">
                                <% if(productos) { %>
                                    <% for(var producto of productos) { %>
                                        <% if(productos) { %>
                                            <option value="<%= producto.id %>"
                                                data-producto="<%= JSON.stringify(producto) %>">
                                                <%= producto.descripcion %>
                                            </option>
                                            <% } %>
                                                <% } %>
                                                    <% } %>
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <br />
                        <button id="agregaProducto" type="button" class="btn btn-outline-success">Agregar
                            Producto</button>
                    </div>
                    <div class="col-2">
                        <br />
                        <a class="btn btn-outline-success" href="/products/add">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                            Crear Producto</a>
                    </div>
                </div>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Descripción</th>
                            <th scope="col">Costo</th>
                            <th scope="col">Precio</th>
                        </tr>
                    </thead>
                    <tbody>

                    </tbody>
                </table>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <label>Fecha</label>
                            <input type="date" id="fecha" class="form-control" placeholder="Fecha">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Fecha Límite</label>
                            <input type="date" id="fecha_limite" class="form-control" placeholder="Fecha">
                        </div>
                    </div>
                    <div class="col-4">
                        <label>Cliente</label>
                        <div class="form-group">
                            <select id="id_cliente" name="id_cliente" class="form-control" placeholder="Cliente...">
                                <% if(clientes) { %>
                                <% for(var cliente of clientes) { %>
                                <option value="<%= cliente.id %>"><%= cliente.nombre + " " + cliente.apellido_paterno + " " + cliente.apellido_materno %></option>
                                <% } %>
                                <% } %>
                            </select>
                        </div>
           
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Monto abonado</label>
                            <input type="number" id="monto_abonado" class="form-control" placeholder="Abonado">
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <label>Total</label>
                            <input type="number" id="total" class="form-control" placeholder="Total">
                        </div>
                    </div>
                </div>
                <div class="mt-4 text-right">
                    <a href="/apartados" class="btn btn-outline-secondary" type="submit">Cancelar</a>
                    <button class="btn btn-outline-success" type="button" id="saveApartado">Crear Apartado</button>
                </div>
            </form>
        </div>
    </div>

    <%- include("./partials/footer") %>