<%- include("./partials/header") %>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-6">
            <% if(!data) { %>
            <h4>Agregar envio</h4>
            <% } else { %>
            <h4>Editar envio</h4>
            <% } %>
        </div>
    </div>
</div>
        <div class="container my-5 h-100">
            <div class="jumbotron h-90 my-auto justify-content-center align-self-center text-center bg-light">  
                <div class="container h-50 my-auto justify-content-center align-self-center text-center">
                    <% if(!data) { %>
                    <form action="/shipments/save" method="POST">
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <input type="text" class="form-control" name="numero_guia" placeholder="Número de guía">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <input type="text" class="form-control" name="telefono" placeholder="Teléfono">
                            </div>
                            <div class="col-lg align-self-center text-left">
                                <input type="text" class="form-control" name="calle" placeholder="Calle">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-5">
                            <div class="col-3 align-self-center text-left">
                                <input type="text" class="form-control" name="numero_exterior" placeholder="Número exterior">
                            </div>
                            <div class="col-3 align-self-center text-left">
                                <input type="text" class="form-control" name="numero_interior" placeholder="Número interior">
                            </div>
                            <div class="col-6 align-self-center text-left">
                                <input type="text" class="form-control" name="colonia" placeholder="Colonia">
                            </div>
                        </div>

                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <input type="text" class="form-control" name="estado" placeholder="Estado">
                            </div>
                            <div class="col-lg align-self-center text-left">
                                <input type="text" class="form-control" name="municipio" placeholder="Municipio">
                            </div>
                        </div>

                        <div class="row mt-5">
                            <div class="col-3 text-left">
                                <input type="text" class="form-control" name="codigo_postal" placeholder="Código Postal">
                            </div>

                            <div class="col-3 text-left">
                                <input type="date" class="form-control" name="fecha" id="fecha" placeholder="Fecha">
                            </div>
                            <div class="col-3 align-self-center text-left">
                          
    
                                <div class="form-group">
                                    <select name="id_venta" class="form-control" placeholder="Empleado..." id="enviar">
                                        <% if(ship) { %>
                                        <% for(var empleado of ship) { %>
                                        <option value="<%= empleado.id %>"><%= empleado.id %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                   
                            </div>
                           

                        </div>

                        <div class="row justify-content-center mt-5 text-right">
                            <div class="col">
                                <button class="btn btn-outline-success" type="submit">Agregar envío</button>  
                            </div>
                        </div>
                    </form>
                    <% } else { %>
                        <form action="/shipments/update/<%= data.numero_guia %>" method="POST">
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.numero_guia %>" name="numero_guia" placeholder="Número de guía">
                                </div>
                            </div>
    
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.telefono %>" name="telefono" placeholder="Teléfono">
                                </div>
                                <div class="col-lg align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.calle %>" name="calle" placeholder="Calle">
                                </div>
                            </div>
    
                            <div class="row justify-content-center mt-5">
                                <div class="col-3 align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.numero_exterior %>" name="numero_exterior" placeholder="Número exterior">
                                </div>
                                <div class="col-3 align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.numero_interior %>" name="numero_interior" placeholder="Número interior">
                                </div>
                                <div class="col-6 align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.colonia %>" name="colonia" placeholder="Colonia">
                                </div>
                            </div>
    
                            <div class="row justify-content-center mt-5">
                                <div class="col-lg align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.estado %>" name="estado" placeholder="Estado">
                                </div>
                                <div class="col-lg align-self-center text-left">
                                    <input type="text" class="form-control" value="<%= data.municipio %>" name="municipio" placeholder="Municipio">
                                </div>
                            </div>
    
                            <div class="row mt-5">
                                <div class="col-3 text-left">
                                    <input type="text" class="form-control" value="<%= data.codigo_postal %>"name="codigo_postal" placeholder="Código Postal">
                                </div>
    
                                <div class="col-3 text-left">
                                    <input type="date" class="form-control" value="<%= data.fecha %>" name="fecha" id="fecha" placeholder="Fecha">
                                </div>
                                
                            </div>
    
                            <div class="row justify-content-center mt-5 text-right">
                                <div class="col">
                                    <button class="btn btn-outline-success" type="submit">Guardar envío</button>  
                                </div>
                            </div>
                        </form>
                        <% } %>
                </div>
               
            </div>
        </div>
        
<%- include("./partials/footer") %>