<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
        integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
        crossorigin="anonymous"></script>
</head>

<body>

    <script>
        $(document).ready(function () {
            window.print();
        });
    </script>

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-6">
            <h4>Balance</h4>
        </div>
        <div class="col-3">
            <div className="card-group">
            
                <div className="card">
                    <div className="card-body">
                        Fecha de impresión: <br />
                        <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: 'numeric', minute: 'numeric' }).format(new Date()) %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table class="table table-striped table-hover table-bordered table-sm">
        <thead>
            <tr>
                <th scope="col">Concepto</th>
                <th scope="col">Ene</th>
                <th scope="col">Feb</th>
                <th scope="col">Mar</th>
                <th scope="col">Abr</th>
                <th scope="col">May</th>
                <th scope="col">Jun</th>
                <th scope="col">Jul</th>
                <th scope="col">Ago</th>
                <th scope="col">Sep</th>
                <th scope="col">Oct</th>
                <th scope="col">Nov</th>
                <th scope="col">Dic</th>
                <th scope="col">Total</th>

            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="row" class="table-primary">Costo</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td>$<%= mes.costo %></td>
                    <% } %>
                    <td>$<%= data.map(x=> x.costo).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <tr>
                <td scope="row" class="table-primary">Presupuesto</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td>$<%= mes.presupuesto %></td>
                    <% } %>
                    <td>$<%= data.map(x=> x.presupuesto).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <tr>
                <td scope="row" class="table-primary">Venta</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td>$<%= mes.venta %></td>
                    <% } %>
                    <td>$<%= data.map(x=> x.venta).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <!-- <tr>
                <td scope="row" class="table-danger">Promociones</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row" class="table-danger">Materiales</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td scope="row" class="table-danger">Transporte</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <!-- <tr>
                <td scope="row" class="table-success">Venta Total</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
                <td scope="row" class="table-success">Ganancia</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.venta - mes.costo %></td>
                    <% } %>
                    <td>$<%= data.map(x=> (x.venta - x.costo)).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <thead>
                <td colspan="14"></td>
            </thead>
            <tr>
                <td scope="row" class="table-warning">% Ganacia</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.costo == 0 ? 0 : ((mes.venta - mes.costo) / mes.costo)*100 %> %</td>
                    <% } %>
                    <td>-</td>
                <% } %>
            </tr>
            <tr>
                <td scope="row" class="table-warning">% Venta VS Pres</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.costo == 0 ? 0 : (mes.venta / (mes.costo*2))*100 %> %</td>
                    <% } %>
                    <td>-</td>
                <% } %>
            </tr>
            <thead>
                <td colspan="14"></td>
            </thead>
            <!-- <tr>
                <td scope="row" class="table-success">Inversión</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr> -->
            <tr>
                <td scope="row" class="table-danger">Pagos</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.venta *.2 %> </td>
                    <% } %>
                    <td>$<%= data.map(x=> x.venta *.2).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <tr>
                <td scope="row" class="table-danger">Compra</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.compra %> </td>
                    <% } %>
                    <td>$<%= data.map(x=> (x.compra)).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
            <tr>
                <td scope="row" class="table-primary">Capital</td>
                <% if(data) { %>
                    <% for(var mes of data) { %>
                        <td><%= mes.venta *.8  %> </td>
                    <% } %>
                    <td>$<%= data.map(x=> (x.venta *.8)).reduce((a,b) => a + b, 0) %></td>
                <% } %>
            </tr>
        </tbody>
    </table>
</div>
   
    <%- include("./partials/footer") %>