<%- include("./partials/header") %>

<script>
    $(document).ready(function () {

    });
</script>
<div class="container-fluid">
    <div class="row mb-3">
        <div class="col-6">
            <h4>Empleados</h4>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-outline-success" href="/employees/add" id="btn-emp">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                </svg>
                Agregar Empleado</a>
        </div>
    </div>

    <div class="row justify-content-center mb-2">
        <div class="col-10 align-self-center text-center">
            <input class="form-control" type="search" placeholder="Buscar..." aria-label="Search">
        </div>
        <div class="col-2 align-self-center text-right">
            <button class="btn btn-outline-success" type="submit">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                    <path fill-rule="evenodd"
                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                </svg>
                Buscar</button>
        </div>
    </div>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Nombres</th>
                <th scope="col">Calle y Número</th>
                <th scope="col">Colonia</th>
                <th scope="col">CP</th>
                <th scope="col">Estado</th>
                <th scope="col">Municipio</th>
                <th scope="col">Teléfono</th>
                <th scope="col">Sucursal</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <% if(data) { %>
                <% for(var employee of data) { %>
                    <tr>
                        <td><%= employee.nombres %> <%= employee.apellido_paterno %> <%= employee.apellido_materno %></td>
                        <td><%= employee.calle %> <%= employee.numero_exterior %> <%= employee.numero_interior %></td>
                        <td><%= employee.colonia %></td>
                        <td><%= employee.codigo_postal %></td>
                        <td><%= employee.estado %></td>
                        <td><%= employee.municipio %></td>
                        <td><%= employee.telefono %></td>
                        <td><%= employee.sucursal %></td>
                        <td>
                            <a href="/employees/edit/<%= employee.id %>" type="button" class="btn btn-primary btn-sm">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                                </svg>
                            </a>
                        </td>
                        <td>
                            <a href="/employees/delete/<%= employee.id %>" type="button" class="btn btn-danger btn-sm">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                                </svg>
                            </a>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</div>

<%- include("./partials/footer") %>