<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
            integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"
            integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1"
            crossorigin="anonymous"></script>
    </head>
    
<body>

    <script>
        $(document).ready(function () {
            window.print();
        });
    </script>

    <div class="container-fluid">
        <div class="row mb-3">
            <div class="col-8">
                <h4>Inventario de productos</h4>
            </div>
            <div class="col-4">
                <div className="card-group">
                    
                    <div className="card">
                        <div className="card-body">
                            Fecha de impresión: <br />
                            <%= new Intl.DateTimeFormat('es-ES', { year: 'numeric', month: '2-digit', day: '2-digit', hour: 'numeric', minute: 'numeric' }).format(new Date()) %>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Sucursal</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                <% if(data) { %>
                    <% for(var producto of data) { %>
                        <tr>
                            <td><%= producto.descripcion %></td>
                            <td><%= producto.precio %></td>
                            <td>
                                <% if(sucursales) { %>
                                <%= sucursales.find(x=>x.id === producto.id_sucursal).nombre %>
                                <%}%>
                            </td>
                            <td><%= producto.status %></td>
                        </tr>
                    <% } %>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>


