<%- include("./partials/header") %>

<script>
    $(document).ready(function () {
        var productosVenta = [];

        $("#agregaProducto").click(function () {
            let currentProduct = $($("#selectProducto option")[0]).data("producto");
            productosVenta.push(currentProduct);
            $($("#selectProducto option")[0]).remove();

            var total=0;
            $($("table tbody")[0]).html("");
            for(let producto of productosVenta){
                let row = `<tr>
                                <td>${producto.descripcion}</td>
                                <td>${producto.precio}</td>
                           </tr>`;
                
                $($("table tbody")[0]).append(row);
                
                total+=parseFloat(producto.precio);
                $("#total").val(total);
            }
        });

        $("#saveCompra").click(function () {
            fetch('http://127.0.0.1:3000/pos/save_sell/', {
                method: 'POST', 
                mode: 'cors', 
                cache: 'no-cache', 
                credentials: 'same-origin',
                headers: {
                    'Content-Type': 'application/json'
                },
                redirect: 'follow',
                referrerPolicy: 'no-referrer', 
                body: JSON.stringify({
                    productos: productosVenta,
                    numero_cliente: $("#numero_cliente").val(),
                    numero_empleado: $("#empleado").val(),
                    venta_total: $("#total").val(),
                    tipo_envio: $("#tipo_envio").val()

                })
            })
                .then(response => {
                    location.href="http://127.0.0.1:3000/pos";
                })
        });
    });
</script>
        <div class="text-center w-100 bg-light ">
            <div class="container text-center mx-auto">
                <h1>Punto de venta - Bazar de ropa</h1>
            </div>
        </div>
        <div class="container my-5 h-100">
            <div class="jumbotron h-90 my-auto justify-content-center align-self-center text-center bg-light">  
    

                <div class="container h-50 my-auto justify-content-center align-self-center text-center">
                    
                    <form>
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <div class="col-lg">
                                    <div class="form-group">
                                        <label>Seleccionar producto</label>
                                        <select name="producto" class="form-control" placeholder="Producto..." id="selectProducto">
                                            <% if(productos) { %>
                                            <% for(var producto of productos) { %>
                                                <% if(productos) { %>
                                                    <option value="<%= producto.id %>"
                                                        data-producto="<%= JSON.stringify(producto) %>">
                                                        <%= producto.descripcion %>
                                                    </option>
                                                    <% } %>
                                            <% } %>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="col-2">
                                <br />
                                <button id="agregaProducto" type="button" class="btn btn-outline-success">Agregar
                                    Producto</button>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Descripción</th>
                                    <th scope="col">Precio</th>
                                </tr>
                            </thead>
                            <tbody>
    
                            </tbody>
                        </table>
                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <label>Seleccionar empleado</label>

                                <div class="form-group">
                                    <select name="empleado" class="form-control" placeholder="Empleado..." id="empleado">
                                        <% if(empleados) { %>
                                        <% for(var empleado of empleados) { %>
                                        <option value="<%= empleado.id %>"><%= empleado.nombres + " " + empleado.apellido_paterno + " " + empleado.apellido_materno %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                   
                            </div>

                            <div class="col-lg align-self-center text-left">
                                <label>Seleccionar numero de cliente</label>

                                <div class="form-group">
                                    <select name="numero_cliente" class="form-control" placeholder="Cliente..." id='numero_cliente'>
                                        <% if(clientes) { %>
                                        <% for(var cliente of clientes) { %>
                                        <option value="<%= cliente.id %>"><%= cliente.nombre + " " + cliente.apellido_paterno + " " + cliente.apellido_materno %></option>
                                        <% } %>
                                        <% } %>
                                    </select>
                                </div>
                            </div>
                               
                        </div>

                        <div class="row justify-content-center mt-5">
                            <div class="col-lg align-self-center text-left">
                                <label>Tipo de envio</label>

                                <div class="form-group">
                                    <select name="tipo_envio" class="form-control" placeholder="Tipo envio..." id="tipo_envio">
                                        <option value="0">Recoger en tienda</option>
                                        <option value="1">Programar envio</option>
                                    </select>
                                </div>
                   
                            </div>

                            <div class="col-lg align-self-center text-left">
                                <label>Total</label>

                                <div class="form-group">
                                    <input type="text" name="total" id="total">
                                </div>
                   
                            </div>
                        </div>

                       
                        <div class="row justify-content-center mt-5 text-right">
                            <div class="col">
                                <button class="btn btn-outline-success" type="submit" id="saveCompra">Registrar venta</button>  
                            </div>

                        </div>

                        
                    </form>                                      
                </div>         
            </div>
        </div>

    </body>
</html>